//.cm-s-hypermd-light span.cm-inline-code.hmd-hidden-token

.CodeMirror {
  flex: 1;
  height: auto;
  padding: 20px;
  font-size: 14px;
  cursor: text;
}

.CodeMirror .HyperMD-codeblock-bg.CodeMirror-linebackground {
  border: 0;
  background-color: #F7F6F3;
}

.HyperMD-codeblock.CodeMirror-line.HyperMD-codeblock-begin.hmd-inactive-line, .HyperMD-codeblock.CodeMirror-line.HyperMD-codeblock-end.hmd-inactive-line {
  visibility: hidden;
}

.cm-s-hypermd-light span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code) {
  border: 0;
  background-color: #EDEDEB;
}

.cm-s-hypermd-light span.cm-inline-code {
  color: #DA625B;
}

//.CodeMirror pre.CodeMirror-line, .CodeMirror pre.CodeMirror-line-like {
//  padding: 0 5px;
//}
// 忘记当初这里设置是因为什么原因了
// 影响的地方: 1.  - 无序列表的显示问题

.cm-s-hypermd-light pre.HyperMD-codeblock {
  color: #37352F;
}


.cm-s-hypermd-light .hmd-fold-html-stub, .cm-s-hypermd-light .hmd-fold-code-stub, .cm-s-hypermd-light.CodeMirror div.HyperMD-hover > .HyperMD-hover-content code, .cm-s-hypermd-light pre.HyperMD-table-row span.cm-hmd-table-sep, .cm-s-hypermd-light span.cm-formatting-hashtag, .cm-s-hypermd-light span.cm-inline-code, .cm-s-hypermd-light pre.HyperMD-codeblock, .cm-s-hypermd-light span.cm-formatting-task, .cm-s-hypermd-light span.cm-hmd-indent-in-quote, .cm-s-hypermd-light pre.HyperMD-hr, .cm-s-hypermd-light span.cm-hmd-frontmatter, .cm-s-hypermd-light span.cm-hmd-orgmode-markup, .cm-s-hypermd-light span.cm-formatting-em, .cm-s-hypermd-light span.cm-formatting-strong, .cm-s-hypermd-light span.cm-formatting-strikethrough, .cm-s-hypermd-light span.cm-formatting-code, .cm-s-hypermd-light span.cm-formatting-link, .cm-s-hypermd-light span.cm-formatting-image, .cm-s-hypermd-light span.cm-url, .cm-s-hypermd-light span.cm-math, .cm-s-hypermd-light span.hmd-fold-math-placeholder, .cm-s-hypermd-light .CodeMirror-linewidget kbd, .cm-s-hypermd-light .hmd-fold-html kbd {
  font: 14px/1.5 Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "HeitiSC", "WenQuanYi Micro Hei", sans-serif;
}
