//.cm-s-hypermd-light span.cm-inline-code.hmd-hidden-token

.CodeMirror {
  flex: 1;
  height: auto;
  padding: 20px;
  font-size: 14px;
  cursor: text;
}

.CodeMirror .HyperMD-codeblock-bg.CodeMirror-linebackground {
  border: 0;
  background-color: #F7F6F3;
}

.HyperMD-codeblock.CodeMirror-line.HyperMD-codeblock-begin.hmd-inactive-line, .HyperMD-codeblock.CodeMirror-line.HyperMD-codeblock-end.hmd-inactive-line {
  visibility: hidden;
}

.cm-s-hypermd-light span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code) {
  border: 0;
  background-color: #EDEDEB;
}

.cm-s-hypermd-light span.cm-inline-code {
  color: #DA625B;
}

//.CodeMirror pre.CodeMirror-line, .CodeMirror pre.CodeMirror-line-like {
//  padding: 0 5px;
//}
// 忘记当初这里设置是因为什么原因了
// 影响的地方: 1.  - 无序列表的显示问题

.cm-s-hypermd-light pre.HyperMD-codeblock {
  color: #37352F;
}


.cm-s-hypermd-light {
  font: 14px/1.5 Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "HeitiSC", "WenQuanYi Micro Hei", sans-serif;
}

.cm-s-hypermd-light pre.HyperMD-list-line span.cm-formatting-list, .cm-s-hypermd-light pre.HyperMD-list-line span.cm-hmd-list-indent {
  padding-top: 0.2em;
}
