.fileList {
  width: 200px;
  height: 100%;
  background-color: #F7F6F3;
  overflow: auto;
}

.header {
  height: 32px;
  -webkit-app-region: drag;
}

.item {
  height: 32px;
  padding-left: 12px;
  line-height: 32px;
  color: #72706B;
  cursor: pointer;

  &:hover {
    background-color: #E8E7E4;
  }

  &:active {
    background-color: #D8D6D4;
  }

  &.active {
    background-color: #E8E7E4;
    color: #2a2824;
  }

  > i:global(.iconfont) {
    margin-right: 4px;

    &:hover {
      background-color: #DaD9D7;
      border-radius: 2px;
    }
  }


}
