@box-width: 120px;

.popover-fileMore {
  position: absolute;
  transition: transform 500ms;
  top: 0;
  left: 0;
  border-radius: 2px;
  z-index: 1001;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px, rgba(15, 15, 15, 0.1) 0px 3px 6px;
  background: #fff;
  width: @box-width;
  height: 96px
}

.popover-arrow-down {
  display: block;
  position: absolute;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  top: -6px;
  left: @box-width/2 - 3px;
  filter: drop-shadow(0px -2px 2px rgba(15, 15, 15, 0.1));
}

.popover-arrow-up {
  display: block;
  position: absolute;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
  bottom: -6px;
  left: @box-width/2 - 3px;
  filter: drop-shadow(0px 2px 2px rgba(52, 73, 94, 0.1));
}

.popover-ul {
  padding-top: 6px;
  padding-bottom: 6px;

  & > li {
    display: flex;
    align-items: center;
    line-height: 120%;
    width: 100%;
    user-select: none;
    min-height: 28px;
    font-size: 14px;
    color: rgb(55, 53, 47);
    cursor: pointer;

    &:hover {
      background-color: #efefef;
    }

    &:active {
      background-color: #dfdede;
    }
  }

  span {
    margin-left: 8px;
    margin-right: 14px;
    min-width: 0px;
    flex: 1 1 auto;
  }

  svg {
    margin-left: 14px;
  }
}

