html, body {
  height: 100%;
  width: 100%;
  font-family: PingFang HK, sans-serif;
  color: #2f2f2f; }

body {
  margin: 0; }

li {
  list-style-type: none; }

#app {
  display: flex;
  width: 100%;
  height: 100%; }
  #app * {
    box-sizing: border-box; }

.leftBar {
  background: white;
  border-right: 1px solid #999;
  border-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 30%;
  overflow: auto;
  min-width: 200px; }
  .leftBar .search {
    transition: 0.5s;
    background-color: white;
    border-radius: 4px;
    cursor: text;
    padding: 3px;
    border: 1px solid #e8e8e8;
    text-indent: 5px;
    outline: 0;
    height: 30px;
    font-size: 14px;
    margin: 22px 4% 4%; }
    .leftBar .search::-webkit-input-placeholder {
      color: #999; }
    .leftBar .search:hover {
      border-color: #a3af2a; }
    .leftBar .search:focus {
      border-color: rgba(20, 105, 144, 0.5); }
  .leftBar ul.list {
    overflow: auto;
    padding: 0; }
    .leftBar ul.list li {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding-left: 4%;
      font-size: 14px;
      color: #2b2b2b;
      margin-bottom: 5px;
      cursor: pointer; }
      .leftBar ul.list li.active {
        background-color: #4cb4f1;
        color: #ffffff; }

.wrapContent {
  min-width: 300px;
  width: 70%; }
  .wrapContent .header {
    display: flex;
    margin: 10px; }
    .wrapContent .header span {
      line-height: 30px;
      margin: 0 2%; }
  .wrapContent .title {
    transition: 0.5s;
    background-color: white;
    border-radius: 4px;
    cursor: text;
    padding: 3px;
    border: 1px solid #e8e8e8;
    text-indent: 5px;
    outline: 0;
    height: 30px;
    font-size: 14px;
    flex: 1; }
    .wrapContent .title::-webkit-input-placeholder {
      color: #999; }
    .wrapContent .title:hover {
      border-color: #a3af2a; }
    .wrapContent .title:focus {
      border-color: rgba(20, 105, 144, 0.5); }
  .wrapContent .content {
    border-top: 1px solid #e8e8e8;
    padding: 5px;
    display: flex;
    height: calc(100% - 50px); }
    .wrapContent .content > div {
      flex: 1; }
    .wrapContent .content .showMD {
      overflow: auto;
      padding: 4px; }
